 
.login-container {
    display: flex;
    height: 100vh;
  }
  

  .login-banner {
    display: none; 
    width: 50%;
    background-image: url('../assets/img/banner.png');
    background-color: #1e3a8a; 
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e3a8a;
    opacity: 0.7; 
  }
  
  .banner-content {
    position: relative;
    z-index: 10;
    text-align: center;
  }
  
  .banner-content img {
    margin-bottom: 0.5rem; 
  }
  
  .login-form-container {
    width: 100%; 
    background-color: #1e3a8a; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .login-banner {
      display: flex; 
    }
    .login-form-container {
      width: 50%; 
    }
  }
  
  .login-form {
    background-color: white;
    padding: 2rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 30rem; 
  }
  
  .login-form h2 {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #1e3a8a; 
    margin-bottom: 1rem; 
  }
  
  .form-subtitle {
    font-size: 0.875rem; 
    color: #6b7280; 
    margin-bottom: 1.5rem; 
  }

  .form-subtitle2 {
    font-size: 0.875rem; 
    color: #fff; 
    margin-bottom: 1.5rem; 
  }
  
  .form-group {
    margin-bottom: 1rem; 
  }
  
  .form-group label {
    display: block;
    font-size: 0.875rem; 
    font-weight: bold; 
    color: #374151; 
    margin-bottom: 0.5rem; 
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem 0.75rem; 
    border: 1px solid #e5e7eb; 
    border-radius: 0.375rem; 
    outline: none;
  }
  
  .form-group input:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); 
  }
  
  .form-footer {
    text-align: right;
    margin-bottom: 1rem; 
  }
  
  .form-footer p {
    font-size: 0.875rem;
    color: #6b7280; 
    margin-bottom: 1.5rem; 
  }
  
  .form-footer a {
    color: #2563eb; 
    font-size: 0.875rem; 
    text-decoration: underline;
  }
  
  .form-footer a:hover {
    text-decoration: none;
  }
  
  .login-form button {
    width: 100%;
    background-color: #22c55e; 
    color: white;
    font-weight: bold; 
    padding: 0.5rem 1rem;
    border-radius: 0.375rem; 
    transition: background-color 0.3s ease; 
  }
  
  .login-form button:hover {
    background-color: #16a34a; 
  } 